body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* header  */

.header {
    background-color: #120869;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.header .logo {
    font-size: 24px;
    font-weight: bold;
}
.header nav {
    display: flex;
    gap: 20px;
}
.header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.header nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
    background-color: #120869;
}

.top-box {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #d9d9d9;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    padding: 20px;
}

.left-box {
    background-color: #f9f9f9;
    margin-right: 5px;
}

.right-box {
    background-color: #e9e9e9;
    margin-left: 5px;
}

.about-me {
    color: red;
    text-decoration: double;
}

.my-image img {
    max-width: 100%;
    height: auto;
    display: block;
}
