body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-color: #9d98c4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header nav {
    display: flex;
    gap: 20px;
}

.header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
    background-color: #3d3c44;
}

.top-box {
    margin-bottom: 20px;
    padding: 20px;
    /* background-color: #d9d9d9; */
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.box {
    padding: 20px;
}

.left-box {
    flex: 1;
    /* background-color: #f9f9f9; */
    margin-right: 5px;
}

.right-box {
    flex: 2;
    /* background-color: #bb7f7f; */
    margin-left: 5px;
}

.about-me {
    /* color: rgb(253, 233, 233); */
    text-decoration: double;
}

.my-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.career-nav {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
}

.career-nav a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 4px;
    
}

.career-nav a:hover {
    background-color: #f0f0f0;
}

